.container
{
    margin: 15px;
}

.container ul
{
    list-style-position: inside;
}

.container div
{
    font-size: 1.4rem;
    margin: 0.3rem;
    height: 10rem;
    /* display: flex;
    justify-content: center; */
    align-items: top;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.1s;
}

.container div:hover:not(.today)
{
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.otherMonth
{
    opacity: 0.5;
}

.today
{
    background-color: #167e56;
}

.date
{
    font-size: 1.6rem;
    text-align: center;
    /* display: flex;
    justify-content: center; */
    /* background-color: gray; */
    /* border-radius: 50%; */
    /* height: 30px;
    width: 30px; */
}