.container div
{
    font-size: 1.4rem;
    margin: 0.3rem;
    /* width: calc(40.4rem / 7);  */
    width: 160px;
    /* width: 14.28571429%;  */
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: top;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.1s;
    /* background-color: blue; */
}

.container div:hover:not(.today)
{
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.otherMonth
{
    opacity: 0.5;
}

.today
{
    background-color: #167e56;
}